<%- include("mainhead") -%>
<center>
    <label style="margin-bottom: 15px;"><h1>Quizs Taken</h1></label>
    <% list = list.reverse(); %>
    <% if (list.length == 0) {%>
        <br><label style="margin-top: 20px;"><h3>Not Taken any Quiz's Yet</h3></label>
        <%} else{ %>
</center>
<div style="width: 90%;">
    <% list.forEach(function(quiz) { %>
    <div>
        <label><strong>Quiz: <%= quiz.quizName %></strong></label><label style="margin-left: 3px;">(<i><%= quiz.quizID %></i>)</label><br>
        <label class="score"><strong>Score: </strong><%= quiz.quizScore %>/<%= quiz.totalQues %></label><br>
        <label><strong>Time of submition: </strong> <%= quiz.submitTime %></label>
    </div>
    <hr>
    <% }); %> 
</div>
<%}%>

<%- include("mainfooter")-%>